.obrasVenta {
  max-width: 1200px;
  width: 100%;
  width: calc(100% - 4rem);
  margin: 7rem auto 3rem;
}

.gridObras {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 5rem;
}

.rowObras {
  display: flex;
  justify-content: space-between;
}

.listaObras {
  font-size: var(--regular20);
  margin-bottom: 1rem;
}

.listaObras::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--colorDetalles);
  vertical-align: middle;
  margin-right: 0.5rem;
}

.listaCaracteristicas {
  font-size: var(--regular20);
  margin-bottom: 2rem;
}

.svgObras {
  margin-right: 0.7rem;
  vertical-align: middle;
  display: inline-block;
}

.toilet {
  padding-left: -1rem !important;
}

.wrapper_left_title_obras {
  color: var(--colorDetalles_2);
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.margin {
  margin-bottom: 3rem;
}

@media screen and (max-width: 1024px) {
  .gridObras {
    gap: 2rem;
  }

  .listaCaracteristicas {
    font-size: 0.98rem;
  }
}

@media screen and (max-width: 768px) {
  .rowObras {
    justify-content: space-around;
  }
}

@media screen and (max-width: 570px) {
  .rowObras {
    flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  .obrasVenta {
    width: 100%;
    padding: 0.5rem;
  }

  .gridObras {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
