.servicios {
  max-width: 1200px;
  width: 100%;
  width: calc(100% - 4rem);
  margin: 7rem auto 3rem;
}

.gridServicios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  gap: 1rem;
}

.cardServicios {
  padding: 1rem;
}

.cardServiciosTitle {
  color: var(--colorBotones);
  padding: 1rem 0 0 3rem;
  font-weight: 600;
  font-size: 1.5rem;

  i {
    color: var(--colorDetalles);
    padding: 0 0.7rem;
    margin-left: -3rem;
  }
}

.cardServiciosP {
  margin-left: 1rem;
  font-size: 1.1rem;
}

.lastCard {
  padding-bottom: 2rem;
}

@media screen and (max-width: 570px) {
  .gridServicios {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .cardServiciosTitle {
    text-align: center;
    padding: 0.5rem;
    font-size: 1.1rem;

    i {
      color: var(--colorDetalles);
      padding: 0 0.5rem;
      margin-left: -2rem;
    }
  }

  .cardServiciosP {
    font-size: 1rem;
  }
}

@media screen and (max-width: 350px) {
  .servicios {
    width: 100%;
    padding: 0.5rem;
  }

  .gridServicios {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
