@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;800&display=swap");
.servicios {
  max-width: 1200px;
  width: 100%;
  width: calc(100% - 4rem);
  margin: 7rem auto 3rem;
}

.gridServicios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(550px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  gap: 1rem;
}

.cardServicios {
  padding: 1rem;
}

.cardServiciosTitle {
  color: var(--colorBotones);
  padding: 1rem 0 0 3rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.cardServiciosTitle i {
  color: var(--colorDetalles);
  padding: 0 0.7rem;
  margin-left: -3rem;
}

.cardServiciosP {
  margin-left: 1rem;
  font-size: 1.1rem;
}

.lastCard {
  padding-bottom: 2rem;
}

@media screen and (max-width: 570px) {
  .gridServicios {
    -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
  .cardServiciosTitle {
    text-align: center;
    padding: 0.5rem;
    font-size: 1.1rem;
  }
  .cardServiciosTitle i {
    color: var(--colorDetalles);
    padding: 0 0.5rem;
    margin-left: -2rem;
  }
  .cardServiciosP {
    font-size: 1rem;
  }
}

@media screen and (max-width: 350px) {
  .servicios {
    width: 100%;
    padding: 0.5rem;
  }
  .gridServicios {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.nosotros {
  max-width: 1200px;
  width: 100%;
  width: calc(100% - 4rem);
  margin: 7rem auto 3rem;
}

.gridNosotros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(550px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  gap: 1rem;
}

.img {
  margin-top: 1.5rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.cardNosotros h4 {
  margin-bottom: 1rem;
}

.cardNosotros img {
  max-width: 150px;
}

.cardNosotros i {
  color: var(--colorDetalles);
  margin-right: 0.5rem;
}

.wrapper_left_nosotros_title {
  color: var(--colorDetalles_2);
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.wrapper_left_nosotros_text {
  font-size: 1.1rem;
}

.wrapper_right_nosotros {
  background-color: var(--colorDetalles);
  width: 100%;
  padding: 0 0.3rem 0.1rem 0;
  margin-top: 2rem;
}

.wrapper_right_nosotros img {
  -webkit-transform: translate(-1%, -2%);
          transform: translate(-1%, -2%);
  display: block;
  min-height: 100%;
}

@media screen and (max-width: 450px) {
  .gridNosotros {
    -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

@media screen and (max-width: 375px) {
  .gridNosotros {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 350px) {
  .nosotros {
    width: 100%;
    padding: 0.5rem;
  }
}

.obrasDescripcion {
  max-width: 1200px;
  width: 100%;
  width: calc(100% - 4rem);
  margin: 7rem auto 3rem;
}

.imgContenedor {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
}

.imgContenedor img {
  background-color: var(--colorDetalles);
  display: block;
  min-height: 100%;
  position: relative;
}

.imgContenedor::after {
  content: "";
  background-color: var(--colorDetalles);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transform: scale(0.75, 0.97);
          transform: scale(0.75, 0.97);
}

.wrapper_left {
  margin-bottom: 2rem;
}

.wrapper_left_title {
  color: var(--colorDetalles_2);
  font-size: 1.6rem;
  position: relative;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.wrapper_left_title::after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -3px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 20%;
  background: var(--colorDetalles);
}

.wrapper_left_text {
  font-size: var(--regular20);
}

.wrapper_right {
  max-width: 400px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media screen and (max-width: 570px) {
  .obrasDescripcion {
    max-width: 1200px;
    width: 100%;
    padding: 0 0.5rem;
    margin: 1rem auto;
  }
}

.obras {
  max-width: 1200px;
  width: 100%;
  width: calc(100% - 4rem);
  margin: 7rem auto 3rem;
}

@media screen and (max-width: 375px) {
  .obras {
    width: 100%;
    padding: 0.5rem;
  }
}

.contacto {
  max-width: 1200px;
  width: 100%;
  width: calc(100% - 4rem);
  margin: 7rem auto 3rem;
}

.boxContacto {
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 11px 2px #e7e7e7;
          box-shadow: 0px 2px 11px 2px #e7e7e7;
}

.leftBox {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.leftBox_title {
  color: var(--colorTitulos);
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.leftBox_text {
  margin-bottom: 1rem;
  font-size: var(--regular20);
}

.contact_list_row_contacto p {
  margin-top: 1rem;
}

.contact_list_row_contacto i {
  color: var(--colorDetalles);
  margin-right: 0.5rem;
}

.rightBox_title {
  color: #fff;
  font-size: 1.7rem;
  padding: 3rem 3rem 0 3rem;
}

.rightBox {
  width: 100%;
  background-color: var(--colorDetalles);
  border-radius: 0 5px 5px 0;
}

.contactoForm {
  width: 100%;
  padding: 3rem;
}

.contactoInput input,
.contactoInput textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid #fff;
  outline: none;
  background-color: transparent;
  margin-bottom: 1rem;
}

.contactoInput ::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

.contactoInput :-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.contactoInput ::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.contactoInput ::placeholder {
  color: #fff;
  opacity: 1;
}

.contactButton {
  display: block;
  text-align: center;
  background-color: var(--colorBotones);
  color: #fff;
  text-align: center;
  border-radius: 30px 5px 30px 5px;
  padding: 0.3rem 3.5rem;
  margin: 1rem auto 0;
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .rightBox {
    border-radius: 0 0 5px 5px;
  }
}

@media screen and (max-width: 450px) {
  .contactButton {
    font-size: 1rem;
  }
  .boxContacto {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media screen and (max-width: 375px) {
  .contacto {
    width: 100%;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 350px) {
  .contacto {
    padding: 0;
  }
}

.obrasVenta {
  max-width: 1200px;
  width: 100%;
  width: calc(100% - 4rem);
  margin: 7rem auto 3rem;
}

.gridObras {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 5rem;
}

.rowObras {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.listaObras {
  font-size: var(--regular20);
  margin-bottom: 1rem;
}

.listaObras::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--colorDetalles);
  vertical-align: middle;
  margin-right: 0.5rem;
}

.listaCaracteristicas {
  font-size: var(--regular20);
  margin-bottom: 2rem;
}

.svgObras {
  margin-right: 0.7rem;
  vertical-align: middle;
  display: inline-block;
}

.wrapper_left_title_obras {
  color: var(--colorDetalles_2);
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.margin {
  margin-bottom: 3rem;
}

@media screen and (max-width: 1024px) {
  .gridObras {
    gap: 2rem;
  }
  .listaCaracteristicas {
    font-size: 0.98rem;
  }
}

@media screen and (max-width: 768px) {
  .rowObras {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 570px) {
  .rowObras {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  .obrasVenta {
    width: 100%;
    padding: 0.5rem;
  }
  .gridObras {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

:root {
  --colorTexto: #424242;
  --colorBotones: #14293e;
  --colorTitulos: #212121;
  --colorNews: #002554;
  --colorDetalles: #a9d5e3;
  --colorDetalles_2: #1f4060;
  --colorBackground: #fff;
  --titulosSize: 2.5rem;
  --mediumSize: 1.875rem;
  --regular20: 1.1rem;
  --navSize: 1.5rem;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--colorBackground);
  color: var(--colorTexto);
  line-height: 1.6;
  font-family: "Raleway", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/*========== UTILITIES ==========*/
.textCenter {
  text-align: center;
}

.section {
  margin-bottom: 4rem;
}

.section_titulo {
  padding: 2rem;
  font-size: var(--titulosSize);
  color: var(--colorTitulos);
  position: relative;
  line-height: 0.1;
  margin-bottom: 3rem;
}

.section_titulo::after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: 5px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 10%;
  background: var(--colorDetalles);
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
}

.row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*========== NAV ==========*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.35);
}

.nav__logo {
  max-width: 140px;
  min-width: 140px;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.35) !important;
}

.navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.nav-item {
  font-size: var(--navSize);
  font-weight: 500;
  color: var(--colorTitulos);
  margin-right: 4rem;
}

.nav-link {
  color: var(--colorTitulos) !important;
}

.shadowNav {
  -webkit-box-shadow: 0px 2px 11px 2px #e7e7e7;
          box-shadow: 0px 2px 11px 2px #e7e7e7;
}

/*========== HOME ==========*/
.home {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/home_2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .button {
  display: inline-block;
  background-color: var(--colorBotones);
  color: #fff;
  text-align: center;
  border-radius: 30px 5px 30px 5px;
  padding: 0.3rem 3.5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.homeTextos {
  padding: 0 2rem;
}

.homeTextos h1 {
  color: #fff;
  font-size: 3rem;
}

.homeTextos p {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 300;
}

/*========== ELEGIRNOS ==========*/
.elegirnos {
  max-width: 1200px;
  width: 100%;
  width: calc(100% - 4rem);
  margin: 3rem auto;
}

.cardsText_card {
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 11px 2px #e7e7e7;
          box-shadow: 0px 2px 11px 2px #e7e7e7;
}

.cardsText_card h4 {
  color: var(--colorDetalles_2);
  font-size: var(--mediumSize);
  margin-top: 1rem;
}

.cardsText_card p {
  padding: 0.5rem 2rem 2rem 2rem;
  line-height: 1.3rem;
}

/*========== PROPIEDADES DESTACADAS ==========*/
.propiedadesDestacadas {
  max-width: 1200px;
  width: 100%;
  width: calc(100% - 4rem);
  margin: 3rem auto;
}

.cardsPropiedades img {
  border-radius: 5px;
  min-height: 320px;
}

/*========== TESTIMONIOS ==========*/
.testimonios {
  max-width: 1200px;
  width: 100%;
  width: calc(100% - 4rem);
  margin: 3rem auto;
}

.cardTestimonios {
  -webkit-box-shadow: 0px 2px 11px 2px #e7e7e7;
          box-shadow: 0px 2px 11px 2px #e7e7e7;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimoniosCard_img img {
  border-radius: 5px 5px 0 0;
}

.cardText {
  padding: 1rem;
}

.cardSubText {
  color: var(--colorDetalles_2);
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem;
}

/*========== FOOTER ==========*/
.footer {
  width: 100%;
  margin: 3rem auto;
}

.footer_list_row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_list_row i {
  color: var(--colorDetalles);
  margin-right: 0.5rem;
}

.footer_list_row_1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_list_row_1 i {
  color: var(--colorDetalles);
  margin-right: 0.5rem;
}

.footer_item_text {
  margin-bottom: 1rem;
}

.footer_list_row_contacto p {
  margin-bottom: 0.5rem;
}

.footer_first {
  background-color: #fafafa;
  margin-bottom: 2rem;
  padding: 2rem;
}

.search {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.search input {
  border: 2px solid var(--colorDetalles_2);
  padding: 0.5rem 8rem 0.5rem 0.5rem;
  border-radius: 10px;
  display: block;
  outline: none;
  font-size: 1rem;
}

.search .email {
  color: var(--colorBotones);
  background-color: var(--colorBotones);
  border: none;
  padding: 0 1rem;
  border-radius: 5px;
  margin-left: -9px;
  cursor: pointer;
}

.search svg {
  background-color: var(--colorBotones);
  width: 110px;
  height: 25px;
}

.search text {
  color: #fff;
  font-size: 1rem;
}

.footer_second .row2 {
  gap: 4rem;
  padding: 2rem;
}

.text_title {
  font-size: var(--titulosSize);
  color: var(--colorNews);
  text-transform: uppercase;
}

.footer_item_title {
  font-size: var(--mediumSize);
  color: var(--colorBlue);
  position: relative;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.footer_item_title::after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: -1px;
  left: 0;
  right: 0;
  width: 20%;
  background: var(--colorDetalles);
}

.footer_item_subTitle {
  color: var(--colorBlue);
  margin: 0.5rem 0;
}

.footer_links {
  margin-bottom: 0.5rem;
}

.footer_links a {
  color: var(--pColor);
}

.footer_link p {
  margin-bottom: 1.2rem;
}

/*========== RESPONSIVE MENU ==========*/
@media screen and (max-width: 1025px) {
  .nav .nav-menu {
    height: 50vh;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: top 3s ease;
    transition: top 3s ease;
    display: none;
  }
  .nav .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0.3rem;
  }
  .nav .nav__item {
    margin-top: 0.2rem;
  }
  .nav__item--contacto {
    display: inline-block;
  }
}

@media screen and (max-width: 780px) {
  /*========== Footer ==========*/
  .section_titulo {
    line-height: 0;
  }
  .footer_second .row2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .footer_first > .row2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .newsletter {
    padding: 2rem;
  }
  .newsletter .text {
    text-align: center;
  }
  .footer_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.5rem;
  }
  .footer_list_row {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .search input {
    padding: 0.5rem 4rem 0.5rem 0.5rem;
  }
}

.textCopy {
  background-color: #fafafa;
  padding: 0.5rem;
}

@media screen and (max-width: 570px) {
  .section_titulo {
    line-height: 1;
    padding: 0;
  }
  .section_titulo::after {
    position: absolute;
    content: "";
    height: 2px;
    bottom: -10px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 20%;
    background: var(--colorDetalles);
  }
  .homeTextos {
    padding: 0 2rem;
  }
  .homeTextos h1 {
    color: #fff;
    font-size: 2rem;
  }
  .homeTextos p {
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
  }
  .home .button {
    font-size: 1rem;
  }
  .contenedor {
    border-bottom: 1px solid #e7e7e7;
  }
  .footer_first {
    margin-bottom: 0;
  }
  .footer_link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5rem;
  }
  .newsletter {
    padding: 2rem;
  }
  .newsletter h4 {
    font-size: 2rem;
  }
  .search input {
    padding: 0.5rem 3rem 0.5rem 0.5rem;
  }
  .search text {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 375px) {
  .grid {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .elegirnos {
    width: 100%;
    padding: 0.5rem;
  }
  .propiedadesDestacadas {
    width: 100%;
    padding: 0.5rem;
  }
  .testimonios {
    width: 100%;
    padding: 0.5rem;
  }
  .search {
    padding: 0.5rem;
  }
  .search input {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
  .search svg {
    width: 90px;
  }
}
/*# sourceMappingURL=main.css.map */